// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #200030 !default;
$header-bg-color: #5AF0F7 !default;
$header-bg-color-secondary: #08A0C0 !default;

// Text
$section-headings-color: #5AF0F7 !default;
$body-text-color: #fff !default;
$body-link-color: #08A0C0 !default;
$blockquote-text-color: #fff !default;

// Code
$code-bg-color: #260E3E !default;
$code-text-color: #fff !default;

// Borders
$border-color: #260E3E !default;
$table-border-color: #260E3E !default;
$hr-border-color: #260E3E !default;
